*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --handle-size: 3rem;
    --img-gap: 2px;
}

.navbar-black{
    background-color: #111;
} 

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
}

.movie-title{
    font-size: 5rem;
    color: rgba(255, 205, 42, 0.881);
    font-family: 'teko', sans-serif;
    letter-spacing: 2px;
}

.movie-info{
color: #fff;
}


.background-image-container{
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background-image{
    z-index: -1;
    width: 100%;
    position: relative;
    opacity: .6;
}

.play-btn{
    font-family: sans-serif;
    margin-top: 1rem;
    justify-content: space-around;
    width: 7rem;
    height: 3rem;
    display: flex;
    background-color: white;
    padding: 0 1.3rem;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    transition: all ease 0.3s;
}



.info-btn{
    margin-left: 1rem;
    margin-top: 1rem;
    justify-content: space-around;
    width: 9rem;
    height: 3rem;
    display: flex;
    background-color: rgba(211, 211, 211, 0.5);
    padding: 0 1.3rem;
    align-items: center;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: all ease 0.3s;
}

.info-btn:hover{
    cursor: pointer;
    background-color: rgba(138, 138, 138, 0.5);
}

.info-icon{
    width: 1.5rem;
}

.play-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.buttons-container{
    display: flex;
}

.text-container{
    max-width: 40%;
    top: 30%;
    margin-left: 3.2rem;
 position: absolute;
 /* background-color: red; */
 height: 20rem;
}

.carousel-header-one, .carousel-header-two, .carousel-header-three{
    padding-bottom: .5rem;
    margin-top: .3rem;
    color: #fff;
    margin-left: 1.5rem;
}

.carousel-header-two, .carousel-header-three{
    margin-top: 2.5rem;
    margin-left: 2rem;
}

body{
    background-color: #111;
}

.bg-change-color{
    background-color: #111;
}

.wrapper{
    transition: all ease 0.3s;
    z-index: 100;
    position: fixed;
    padding: 0.8rem 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    display: flex;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.netflix-logo-long{
    width: 7rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
}

.netflix-n-logo{
    margin-left: 1rem;
    margin-right: .6rem;
    display: none;
    width: 2rem;
}

.icon-container{
    margin-right: 2rem;
    margin-top: .3rem;
}

a{
    color: white;
    text-decoration: none;
    transition: all ease 0.3s;
    align-items: center;
}

ul{
    margin-top: 5px;
}

li{
    margin: 0 .8rem;
    list-style-type: none;
}

li:hover, a:hover{
    color: #757575;
}


.search-icon, .bell-icon, .user-icon{
    width: 20px;
    text-align: center;
    margin: 0 10px;
}

.search-icon:hover, .bell-icon:hover, .user-icon:hover{
    cursor: pointer;
}

.browse, .triangle{
    display: none;
}

.triangle{
margin-top: 0.3rem;
    margin-left: .3rem;
    border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 8px solid white;
}

.browse-container{
    display: flex;
}

.browse-container:hover{
    cursor: pointer;
}

.browse{
    margin-right: .3rem;
    margin-left: 1rem;
    color: white;
}

.carousel-container{
display: flex;
justify-content: center;
overflow: hidden;
}

.slider{
    --items-per-screen: 4;
    --slider-index: 0;
    margin: 0 var(--img-gap);
    flex-grow: 1;
    display: flex;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.handle{
    font-size: 5rem;
    border: none;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--handle-size);
    transition: background-color 150ms ease-in-out;
    background-color: rgba(0, 0, 0, .25);
    z-index: 10;
    margin: (var(--img-gap)) 0;
    cursor: pointer;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    color: white;
    padding: 0 .5rem;
}

.handle:hover .text,
.handle:focus .text{
    transform: scale(1.2);
}

.handle:hover,
.handle:focus{
    background-color: rgba(0, 0, 0 , .5);
}
.text{
    transition: transform 150ms ease-in-out;
}

.left-handle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.slider > img{
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 5px;
    transition: all ease 0.3s;
}

.slider > img:hover{
    border-radius: 5px;
    transform: scale(0.95);
    cursor: pointer;
}

.arrow-right{
    width: 1rem;
}

.title-one{
    margin-top: .5rem;
    padding-bottom: 0.5rem;
}

.title-two, .title-three{
    margin-top: 2rem;
    padding-bottom: 5px;
}

.title{
    margin-left: 3.5rem;
    font-size: 1.3rem;
    color: #fff;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap)* 2 var(--handle-size));
}

@media (max-width: 1200px){
    a, li{
        margin-top: 2px;
        font-size: 14px;
    }
}

@media (max-width: 1000px){
     li, a{
        display: none;
    }

    .browse, .triangle{
        margin-bottom: 0.3rem;
        display: block;
        margin-left: 0;

    }

    .icon-container{
        margin-top: 5px;
        margin-right: .4rem;
    }

    .bell-icon, .search-icon, .user-icon{
        margin: 0 .6rem;
        width: 1rem;
    }

    .netflix-logo-long{
        width: 5rem;
        margin: 0 1.3rem;
    }

    .movie-title{
        font-size: 4rem;
    }

    .movie-info{
        font-size: 14px;
    }

    .play-btn{
        width: 5rem;
        font-size: 14px;
        height: 2rem;
    }

    .info-btn{
        width: 8rem;
        font-size: 14px;
        height: 2rem;
    }
    .arrow-right{
        padding-right: 3px;
        width: .8rem;
    }

    .info-icon{
        width: 0.8rem;
    }

    .slider{
        --items-per-screen: 4;
    }

}

@media (max-width:900px){
    .movie-info{
        font-size: 12px;
    }

    .play-btn{
        width: 5rem;
        font-size: 14px;
        height: 1.5rem;
    }

    .info-btn{
        width: 7rem;
        font-size: 12px;
        height: 1.5rem;
    }
    .arrow-right{
        padding-right: 4px;
        width: .8rem;
    }

    .movie-title{
        font-size: 3rem;
    }
}

@media (max-width: 822px){
    .text-container{
        top: 8rem;
    }

}

@media (max-width:700px){
    .slider{
        --items-per-screen: 3;
    }
}

@media (max-width: 600px){
    .netflix-logo-long{
        display: none;
    }

    .netflix-n-logo{
        display: block;
    }

    .movie-info{
        font-size: 10px;
    }

    .play-btn{
        width: 5rem;
        font-size: 14px;
        height: 1.5rem;
    }

    .info-btn{
        min-width: 7.2rem;
        font-size: 12px;
        height: 1.5rem;
    }
    .arrow-right{
        padding-right: 4px;
        width: .8rem;
    }

    .movie-title{
        font-size: 2.5rem;
    }

    .text-container{
        top: 6rem;
    }

    .title{
        margin-left: 3.2rem;
        font-size: 1rem;
    }

}

@media (max-width: 500px){
    .play-btn{
        width: 5rem;
        font-size: 10px;
        height: 1.2rem;
    }

    .info-btn{
        min-width: 6rem;
        font-size: 10px;
        height: 1.2rem;
    }
    .arrow-right{
        padding-right: 4px;
        width: .8rem;
    }
}

@media (max-width: 400px){
    .text-container{
        top: 3rem;
    }
    .movie-title{
        font-size: 1.5rem;
    }

    .movie-info{
        font-size: 10px;
    }

    .info-btn{
        width: 4rem;
        height: 1.5rem;
        font-size: 8px;
    }

    .info-icon{
        width: 0.5rem;
    }

    .play-btn{
        width: 3.5rem;
        height: 1.5rem;
        font-size: 8px;
    }
}

@media (max-width:440px){
    .text-container{
        top: 3rem;
    }
    .movie-info{
        font-size: 8px;
    }

    .slider{
        --items-per-screen: 2;
    }

    .movie-title{
        font-size: 1.5rem;
    }

    .netflix-n-logo{
        margin-top: 5px;
        width: 20px;
        height: 20px;
    }

    .info-btn{
        font-size: 8px;
    }

    .info-icon{
        width: 10px;
        height: 10px;
    }
}


